@import "src/libs/_params";
@import "src/libs/_mixins.scss";

.header {
  width: $content-width-desktop-large;
  background-color: $white;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: auto;
  z-index: 100;
  visibility: visible;

  @include breakpoint('medium') {
    width: $content-width-desktop-medium;
    padding: 30px 42px;
  }

  @include breakpoint('tablet') {
    width: $content-width-tablet;
    padding: 30px 40px;
  }

  @include breakpoint('small') {
    width: 100%;
    padding: 15px;
    position: absolute;
  }

  .logo {
    height: 28px;

    @include breakpoint('small') {
      height: 20px;
    }
  }

  button {
    background-repeat: no-repeat;
    background-position: center;

    &.menuBtn {
      background-image: url('../../images/burger_icon.svg'); 
    }

    &.callBtn {
      background-image: url('../../images/call_icon.svg'); 
    }

    &.langBtn {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .bttnGroup {
    display: flex;
    align-items: center;

    button {
      &:first-child {
        margin-right: 30px;

        @include breakpoint('small') {
          display: none;
        }

        @include breakpoint('medium') {
          margin-right: 20px;
        }
      }
    }
  }
}

