@import '../../libs/_params.scss';
@import "src/libs/_mixins.scss";

.newsBlock {

  .newsBlock__filter {
    display: flex;
  }
  
  .newsBlock__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 -10px;

    @include breakpoint('tablet') {
      margin: 0 -20px;
    }

    @include breakpoint('small') {
      margin: 0 -15px;
    }

    .list__item {
      width: 316px;
      margin: 40px 10px;

      @include breakpoint('medium') {
        width: 300px;
      }

      @include breakpoint('tablet') {
        width: 324px;
        margin: 40px 20px;
      }

      @include breakpoint('small') {
        width: 100%;
        margin: 20px 15px;
      }

      &:hover {
        .title {
          color: $coral;
        }
      }

      img {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
      }

      .title {
        font-size: 24px;
        line-height: 30px;
        color: $dark-gray;
        font-weight: 600;
        margin-bottom: 20px;

        @include breakpoint('small') {
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 15px;
        }
      }

      .subtitle {
        color: $black;
        font-weight: 300;
        margin-bottom: 15px;
      }

      .date {
        font-size: 12px;
        line-height: 15px;
        color: $black;
        font-weight: 300; 
      }
    }
  }

  .btnLoad {
    width: 242px;
    margin: 0 auto;
  }
}